<!-- see snippets/slideshow.liquid for the slideshow -->

{% capture theme_settings_link %}
  <a href="{{ shop.url }}/admin/themes">{{ 'onboarding.general.theme_settings_link' | t }}</a>
{% endcapture %}

{% if settings.show-welcome-message %}
  <div class="welcome-message">
    {% if settings.welcome-title.size == 0 and settings.welcome-text.size == 0 %}
      <h1>{{ 'onboarding.general.welcome_title' | t }}</h1>
      <div>{{ 'onboarding.general.welcome_text_html' | t: theme_settings_link: theme_settings_link }}</div>
    {% else %}
      {% if  settings.welcome-title.size > 0 %}<h1>{{ settings.welcome-title }}</h1>{% endif %}
      {% if settings.welcome-text.size > 0 %}<div>{{ settings.welcome-text }}</div>{% endif %}
    {% endif %}
  </div>
{% endif %}


{% if settings.display-featured-collections %}

  {% assign collectionCount = 0 %}

  {% if settings.featured-collection-1.size > 0 %}
    {% assign collectionCount =  collectionCount | plus: 1 %}
  {% endif %}
  {% if settings.featured-collection-2.size > 0 %}
    {% assign collectionCount =  collectionCount | plus: 1 %}
  {% endif %}
  {% if settings.featured-collection-3.size > 0 %}
    {% assign collectionCount =  collectionCount | plus: 1 %}
  {% endif %}
  {% if settings.featured-collection-4.size > 0 %}
    {% assign collectionCount =  collectionCount | plus: 1 %}
  {% endif %}

  <div class="featured-collections collection-list grid-wrap grid-of-{{collectionCount}}">

    {% if settings.featured-collections-title.size > 0 %}
      <h4 class="section-title">{{ settings.featured-collections-title }}</h4>
    {% endif %}

    {% if settings.featured-collection-1.size > 0 or settings.featured-collection-2.size > 0 or settings.featured-collection-3.size > 0 or settings.featured-collection-4.size > 0 %}

      <div class="items-wrap">

        {% if settings.featured-collection-1.size > 0 %}

          {% if collections[settings.featured-collection-1].image %}
            {% assign featured-image-1 = collections[settings.featured-collection-1].image.src | collection_img_url: 'grande' %}
          {% else %}
            {% assign featured-image-1 = collections[settings.featured-collection-1].products.first.featured_image | product_img_url: 'grande' %}
          {% endif %}

          <article class="collection-list-item {{ settings.collections-list-position }}">
            <a href="{{ collections[settings.featured-collection-1].url }}">
              <img alt="" src="{{ featured-image-1 }}">
              <h2>{{ collections[settings.featured-collection-1].title }}</h2>
            </a>
            {% if settings.display-collection-descriptions and collections[settings.featured-collection-1].description.size > 0 %}
              <div class="rte">{{ collections[settings.featured-collection-1].description }}</div>
            {% endif %}
          </article>
        {% endif %}

        {% if settings.featured-collection-2.size > 0 %}

          {% if collections[settings.featured-collection-2].image %}
            {% assign featured-image-2 = collections[settings.featured-collection-2].image.src | collection_img_url: 'grande' %}
          {% else %}
            {% assign featured-image-2 = collections[settings.featured-collection-2].products.first.featured_image | product_img_url: 'grande' %}
          {% endif %}

          <article class="collection-list-item {{ settings.collections-list-position }}">
            <a href="{{ collections[settings.featured-collection-2].url }}">
              <img alt="" src="{{ featured-image-2 }}">
              <h2>{{ collections[settings.featured-collection-2].title }}</h2>
            </a>
            {% if settings.display-collection-descriptions and collections[settings.featured-collection-2].description.size > 0 %}
              <div class="rte">{{ collections[settings.featured-collection-2].description }}</div>
            {% endif %}
          </article>
        {% endif %}

        {% if settings.featured-collection-3.size > 0 %}

          {% if collections[settings.featured-collection-3].image %}
            {% assign featured-image-3 = collections[settings.featured-collection-3].image.src | collection_img_url: 'grande' %}
          {% else %}
            {% assign featured-image-3 = collections[settings.featured-collection-3].products.first.featured_image | product_img_url: 'grande' %}
          {% endif %}

          <article class="collection-list-item {{ settings.collections-list-position }}">
            <a href="{{ collections[settings.featured-collection-3].url }}">
              <img alt="" src="{{ featured-image-3 }}">
              <h2>{{ collections[settings.featured-collection-3].title }}</h2>
            </a>
            {% if settings.display-collection-descriptions and collections[settings.featured-collection-3].description.size > 0 %}
              <div class="rte">{{ collections[settings.featured-collection-3].description }}</div>
            {% endif %}
          </article>
        {% endif %}

        {% if settings.featured-collection-4.size > 0 %}

          {% if collections[settings.featured-collection-4].image %}
            {% assign featured-image-4 = collections[settings.featured-collection-4].image.src | collection_img_url: 'grande' %}
          {% else %}
            {% assign featured-image-4 = collections[settings.featured-collection-4].products.first.featured_image | product_img_url: 'grande' %}
          {% endif %}

          <article class="collection-list-item {{ settings.collections-list-position }}">
            <a href="{{ collections[settings.featured-collection-4].url }}">
              <img alt="" src="{{ featured-image-4 }}">
              <h2>{{ collections[settings.featured-collection-4].title }}</h2>
            </a>
            {% if settings.display-collection-descriptions and collections[settings.featured-collection-4].description.size > 0 %}
              <div class="rte">{{ collections[settings.featured-collection-4].description }}</div>
            {% endif %}
          </article>

        {% endif %}

      </div>

    {% else %}

      <div class="home-helper">
        <h4 class="section-title">{{ 'onboarding.general.featured_collections_title' | t }}</h4>
        <p>{{ 'onboarding.general.featured_collections_text_html' | t: theme_settings_link: theme_settings_link }}</p>
      </div>

    {% endif %}
  </div>
{% endif %}

{% if settings.display-featured-products %}

  {% if settings.featured-products-collection.size > 0 %}
    {% assign productCount = collections.[settings.featured-products-collection].products.size | times: 1 %}
    {% assign settingsCount = settings.featured-products-limit | times: 1 %}

    {% if productCount > settingsCount %}
      {% assign productCount = settings.featured-products-limit %}
    {% endif %}
  {% endif %}

  <div class="featured-products product-listing grid-wrap grid-of-{{ productCount }}">

    {% if settings.featured-products-title.size > 0 %}<h4 class="section-title">{{ settings.featured-products-title }}</h4>{% endif %}

    {% if settings.featured-products-collection.size > 0 %}

      {% if shop.products_count > 0 and collections.[settings.featured-products-collection].products.size == 0 %}

        <div class="home-helper">
          {% capture collection_screen_link %}
            <a href="{{ shop.url }}/admin/collections">{{ 'onboarding.general.collection_screen_link' | t }}</a>
          {% endcapture %}
          <h4 class="section-title">{{ 'onboarding.general.featured_products_empty_title' | t }}</h4>
          <p class="load-up">{{ 'onboarding.general.featured_products_empty_text_html' | t: collection_screen_link: collection_screen_link }}</p>
        </div>

      {% elsif shop.products_count == 0 %}

        <div class="home-helper">
          {% capture new_product_link %}
            <a href="{{ shop.url }}/admin/products/new">{{ 'onboarding.general.new_product_link' | t }}</a>
          {% endcapture %}
          <h4 class="section-title">{{ 'onboarding.general.no_products_title' | t }}</h4>
          <p>{{ 'onboarding.general.no_products_text_html' | t: new_product_link: new_product_link }}</p>
        </div>

      {% else %}

        <div class="items-wrap">
        {% for product in collections.[settings.featured-products-collection].products limit: settings.featured-products-limit %}{% include 'product-list-item' %}{% endfor %}
        </div>

      {% endif %}

    {% else %}

      <div class="home-helper">
        <h4 class="section-title">{{ 'onboarding.general.featured_products_title' | t }}</h4>
        <p class="load-up">{{ 'onboarding.general.featured_products_text_html' | t: theme_settings_link: theme_settings_link }}</p>
      </div>

    {% endif %}

  </div>
{% endif %}

{% if settings.display-recent-posts %}

  <div class="recent-posts grid-wrap grid-of-{{ settings.number-of-posts }} clearfix">

  {% if settings.recent-posts-blog.size > 0 %}
    {% if settings.recent-posts-title.size > 0 %}<h4 class="section-title">{{ settings.recent-posts-title }}</h4>{% endif %}

    {% assign postCount = settings.number-of-posts %}

    <div class="items-wrap">

      {% for article in blogs.[settings.recent-posts-blog].articles limit: postCount %}
      <article>
        <h1><a class="title" href="{{ article.url }}">{{ article.title }}</a></h1>
        <div class="rte content">
          {% if article.image %}
            <a class="item-image" href="{{ article.url }}">
              <img src="{{ article.image | img_url: 'grande' }}" alt="{{ article.title }}">
            </a>
          {% endif %}
          {{ article.excerpt_or_content }}
        </div>
        <a class="date meta" href="{{ article.url }}">{{ article.published_at | date: format: 'short_month' }}</a>
      </article>
      {% endfor %}

    </div>

    {% else %}
      <div class="home-helper">
        <h4 class="section-title">{{ 'onboarding.general.featured_blog_title' | t }}</h4>
        <p>{{ 'onboarding.general.featured_blog_text_html' | t: theme_settings_link: theme_settings_link }}</p>
      </div>
    {% endif %}

  </div>
{% endif %}

{% if settings.display-instagram-widget %}
  {% include 'instagram-widget' %}
{% endif %}

{% if settings.display-twitter-widget %}
  {% include 'twitter-widget' %}
{% endif %}
