{% layout none %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ shop.name }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />

  {{ content_for_header }}

  <!-- Theme CSS
  ///////////////////////////////////////// -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Javascript -->
  {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}
  {{ 'jquery.js' | asset_url | script_tag }}

  <script>
    Theme = {}
  </script>

</head>

<body class="template-password">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="password-page main-content container">
    <div class="password-page-header">
      <div class="password-page-inner">
        <a href="#modal-login" class="admin-login-modal">
          {{ 'general.password_page.password_link' | t }}
        </a>
      </div>
    </div>

    <div class="password-page-content">
      <div class="password-page-inner">
        <div class="password-page-logo">
          <h1 class="store-title">
            {% if settings.use-logo %}
              <img alt="{{ shop.name }} logo" class='regular-logo' src="{{ 'logo.png' | asset_url }}" alt="{{ shop.description | escape }}">
            {% else %}
              {{ shop.name }}
            {% endif %}
          </h1>
        </div>
        <div class="password-page-signup-form">
          <div class="password-page-form-header">
            <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

            {% unless shop.password_message == blank %}
              <p class="password-page-message">
                {{ shop.password_message }}
              </p>
            {% endunless %}
          </div>

          {% if settings.password-mailing-list %}
            <form action="{{ settings.mailchimp-action-url }}" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <p class="form-title">{{ 'general.password_page.signup_form_heading' | t }}</p>

              <div class="password-page-field-wrap">
                <input class="password-page-input" name="EMAIL" type="email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                <input class="submit" name="subscribe" type="submit" value="{{ 'general.password_page.signup_form_submit' | t }}">
                <input type="hidden" name="contact[tags]" value="prospect, password page">
              </div>
            </form>
          {% else %}
            {% form 'customer', class: 'newsletter-signup' %}
              {{ form.errors | default_errors }}

              {% if form.posted_successfully? %}
                <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
              {% else %}
                <p class="form-title">{{ 'general.password_page.signup_form_heading' | t }}</p>

                <div class="password-page-field-wrap">
                  <input class="password-page-input" type="text" name="contact[email]" id="email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                  <input class="submit" name="commit" type="submit" value="{{ 'general.password_page.signup_form_submit' | t }}">
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                </div>
              {% endif %}
            {% endform %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="password-page-footer" role="contentinfo">
      <div class="password-page-inner">
        {% capture shopify %}
          <a class="shopify-link" href="//www.shopify.com/" target="_blank" title="Create your own online store with Shopify">
            <span class="shopify-name">Shopify</span>
          </a>
        {% endcapture %}
        {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
      </div>
    </div>
  </div>

  <div id="modal-login" class="password-page-modal-wrapper">
    <div class="password-page-modal">
      <div class="module header">
        <p class="form-title">{{ 'general.password_page.login_form_heading' | t }}</p>
      </div>

      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <div class="password-page-field-wrap" {% if form.errors %}data-open-modal{% endif %}>
          <input class="password-page-input" type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_label' | t }}" autofocus>
          <input class="submit" name="submit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}">
        </div>
      {% endform %}
      <p class="admin-login">
        {{ 'general.password_page.admin_link_question' | t }}
        <a href="/admin" class="admin-link">{{ 'general.password_page.admin_link_direction' | t }}</a>
      </p>
    </div>
  </div>

  <!-- Theme JS
  ///////////////////////////////////////// -->
  {{ 'plugins.js'  | asset_url | script_tag }}
  {{ 'site.js'  | asset_url | script_tag }}

</body>
</html>
