<div class="product">

  <div class="page-header">
    <h1>{{ product.title }}</h1>

    <div class="product-details mobile">
      <a class="product-brands" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
      {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
        <span class="product-price on-sale"><span class="original money">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span> <span class="money">{{ product.selected_or_first_available_variant.price | money }}</span></span>
      {% else %}
        <span class="product-price money">{{ product.selected_or_first_available_variant.price | money }}</span>
      {% endif %}

      {% if settings.product-display-share-buttons %}
        {% include 'share-buttons' %}
      {% endif %}
    </div>
  </div>

  {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
  <div class="product-slideshow clearfix {% if product.images.size > 1 %}multiple{% endif %}">
    <div class="product-big-image {% if settings.product-enable-zoom %}can-zoom{% endif %}">
      {% if product.images.size > 0 %}
        {{ featured_image | img_url: 'master' | img_tag: featured_image.alt }}
      {% else %}
        <img class="product-no-images" src="{{ 'no-image.svg' | asset_url }}" alt="{{ 'products.product.no_image' | t }}" />
      {% endif %}
      <div class="zoom"></div>
    </div>

    {% if product.images.size > 1 %}
    <div class="product-thumbnails">
      {% for image in product.images %}
        <img alt="" data-high-res="{{ image | product_img_url: 'master' }}" src="{{ image | product_img_url: 'compact' }}" class="{% if image == featured_image %}active{% endif %}">
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="product-info">

    <div class="product-details desktop">
      <a class="product-brands" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
      {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
        <span class="product-price on-sale"><span class="original money">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span> <span class="money">{{ product.selected_or_first_available_variant.price | money }}</span></span>
      {% else %}
        <span class="product-price money">{{ product.selected_or_first_available_variant.price | money }}</span>
      {% endif %}

      {% if settings.product-display-share-buttons %}
        {% include 'share-buttons' %}
      {% endif %}
    </div>

    <div class="product-variants">

      <form class="product-form" id="product-form" action="/cart/add" method="post" data-product-handle="{{ product.handle }}">

        {% if product.available %}
          {% if product.variants.size > 1 %}
            <div class="options">
              <select name="id" id="product-select" class="product-select">
                {% for variant in product.variants %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {% endfor %}
              </select>
            </div>
          {% else %}
            <input type="hidden" name="id" class="product-select product-select-hidden" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
          {% endif %}
        {% endif %}

        <div class="product-quantity-wrapper">
          <label for="quantity">{{ 'products.product.quantity' | t }}</label>
          <input class="product-quantity" type="number" name="quantity" value="1" min="1">
        </div>

        <p class="product-add-error-message error">{{ 'products.product.quantity_error' | t }}</p>

        <div class="add-to-cart">
          {% if product.available %}
            <input type="submit" class="submit add-product" value="{{ 'products.product.add_to_cart' | t }}">
          {% else %}
            <input type="submit" class="submit disabled" disabled value="{{ 'products.product.sold_out' | t }}">
          {% endif %}
        </div>

      </form>
    </div>

    {% if product.description.size > 0 %}
      <div class="product-description">
        <h4>{{ 'products.product.description' | t }}</h4>
        <div class="rte">
          {{ product.description }}
        </div>
      </div>
    {% endif %}

    {% if settings.display-fitting-guide-link or settings.display-ask-us-link %}
      <ul class="product-more-actions">

        {% if settings.display-fitting-guide-link %}
        <li><a class="fitting-guide" href="{{ pages[settings.fitting-guide-link].url }}">{{ pages[settings.fitting-guide-link].title }}</a></li>
        {% endif %}

        {% if settings.display-ask-us-link %}
        <li><a class="ask-us" href="{{ pages[settings.ask-us-link].url }}">{{ pages[settings.ask-us-link].title }}</a></li>
        {% endif %}

      </ul>
    {% endif %}

  </div><!-- close PRODUCT INFO -->

</div>

{% if settings.display-related-products %}

  {% assign number_of_related_products_to_show = 3 %}

  {% capture number_of_related_products_to_fetch %}
    {{ number_of_related_products_to_show | plus: 1 }}
  {% endcapture %}

  {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
    {% assign found_a_collection = false %}
    {% for c in product.collections %}
      {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
        {% assign found_a_collection = true %}
        {% assign collection = c %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if collection.products.size > 1 %}

    <div class="product-list related-products grid-wrap">

      <h4>{{ 'products.related_products.header' | t }}</h4>

      <div class="items-wrap">
        {% assign current_product_found = false %}
        {% for prod in collection.products limit: number_of_related_products_to_fetch %}
          {% if prod.title == product.title %}
            {% assign current_product_found = true %}
          {% else %}
            {% unless current_product_found == false and forloop.last %}

              {% include 'product-list-item' %}

            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

  {% endif %}

{% endif %}

{% if product.variants.size > 1 %}
<script>

  $(function() {

    // This is the callback which is fired every time
    // variant selectors are changed. It determines
    // whether or not the selected combinations of options
    // exists as a variant, wheter that variant is available,
    // and then updates prices accordingly.

    var addToCart = $('.add-product')
    var priceArea = $('.product-details .product-price')

    var selectCallback = function(variant, selector) {

      // Does the combination of options exist as a variant?
      if (variant) {

        // Is variant available?
        if (variant.available) {
          addToCart.val("{{ 'products.product.add_to_cart' | t }}").removeClass('disabled').fadeTo(200,1);
        } else {
          addToCart.val("{{ 'products.product.sold_out' | t }}").addClass('disabled').fadeTo(200,0.5);
        }

        // Whether the variant is in stock or not, we can update the price and compare at price.
        if ( variant.compare_at_price > variant.price ) {
          priceArea.html('<span class="price on-sale"><span class="original money">'+ Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") +'</span> <span class="money">'+Shopify.formatMoney(variant.price, "{{ shop.money_format }}")+ '</span></span>');
        } else {
          priceArea.html('<span class="price money">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
        }

      } else {
        // variant doesn't exist.
        addToCart.val("{{ 'products.product.unavailable' | t }}").addClass('disabled').fadeTo(200,0.5);
      }

      if (variant && variant.featured_image) {
        var newImage = variant.featured_image;
        var compactImage = Shopify.Image.getSizedImageUrl(newImage.src, 'compact');
        $('.product-thumbnails img[src*="'+compactImage+'"]').click();
      }

      $(".currency-switcher").trigger("reset-currency")
    };

    // This object grabs the $('#product-select') element, and breaks its into
    // multiple options select elements.
    {% if product.available %}
      new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });
    {% endif %}

    function setUpProductData() {
      window.product = {{ product | json }};
    }
    setUpProductData();

    $('.selector-wrapper').each( function () {
      $(this).find('select').wrap('<div class="select-wrapper" />');
      $(this).find('.select-wrapper').prepend('<div class="select-text" />');
    });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper').prepend('<label>{{ product.options[0] }}</label>');
    {% endif %}

  });

</script>
{% endif %}
