{% assign item = product %}

{% if template contains 'search' %}
	{% assign item = item %}
{% elsif template contains 'product' %}
	{% assign item = prod %}
{% endif %}

<article class="product-list-item" id="product-list-item-{{ item.id }}">

	<figure class="thumbnail">
		<a href="{{ item.url | within: collection }}">
		{% if item.featured_image.src.size > 0 %}
		<img src="{{ item.featured_image.src | product_img_url: 'grande' }}" alt="{{ item.featured_image.alt | escape }}" />
		{% else %}
		<img class="product-no-images" src="{{ 'no-image.svg' | asset_url }}" alt="{{ 'products.product.no_image' | t }}" />
		{% endif %}
		</a>

		<!-- Modal -->
		<div data-rel="#product-{{ item.id }}" class="quick_shop action_button">
			Quick Shop
		</div>
		{% include 'modal' %}

	</figure>

	<div class="product-list-details">
		<p class="vendor"><a href="{{ item.vendor | url_for_vendor }}">{{ item.vendor }}</a></p>
		<p class="title"><a href="{{ item.url | within: collection }}">{{ item.title }}</a></p>
		<p class="type"><a href="{{ item.type | url_for_type }}">{{ item.type }}</a></p> 
		<p class="product-price">
		{% if item.available %}
			{% if item.compare_at_price_min > item.price_min %}
				<span class="price on-sale"><span class="original money">{{ item.compare_at_price_min | money }}</span> <span class="money">{{ item.price_min | money }}</span></span>
			{% else %}
				<span class="price money">{{ item.price_min | money }}</span>
			{% endif %}
		{% else %}
			<span class="price">{{ 'products.product.sold_out' | t }}</span>
		{% endif %}
		</p>
	</div>

</article>
