{% extends "base.twig" %}

{% block content %}

	<div id="{{post.post_type}}" class="builder">

		<div class="header-image">

			{% if post.get_field('header_image') %}
					<div class="header-background" style="background-image:url('{{TimberImage(post.get_field('header_image')).src}}')"></div>
			{% endif %}

			<div class="container header-caption text-center {{post.get_field('sel_color')}}">
				<div class="two-third">
					{% if post.get_field('collection_logo') %}
						<img class="collection" src="{{TimberImage(post.get_field('collection_logo')).get_src|resize(400)}}" />
					{% endif %}
					{% if post.get_field('collection_title') %}
						<h1 class="uppercase"><span class="semibold">{{post.get_field('collection_title')}}</span> Collection</h1>							<div class="dash"></div>
					{% else %}
						<h1 class="uppercase hyphenate">{{post.title}}</h1>
					{% endif %}
					{% if post.get_field('page_caption') %}
						<p class="tracking">{{post.get_field('page_caption')}}</p>
					{% endif %}
					{% if post.get_field('link_video') %}
						<p class="uppercase link-video">
							<a class="fancy-video fancybox.iframe" href="{{post.get_field('link_video')}}">Watch the fashion show</a>
						</p>
					{% endif %}
					</div>
				</div>
		</div>

		{% if pages %}
			{% for childpages in pages %}
					{% set posts = TimberPost(childpages) %}
					{% set headerImg = posts.get_field('header_image') %}
					{% set BGcolor = posts.get_field('sel_bg_color') %}

							<section id={{posts.post_name}} {% if BGcolor %}class="{{ BGcolor }}"{% endif %}>
								{% for post in posts.get_field('page_blocks')  %}

									{% if post.acf_fc_layout == 'text_2_col' %}

										{% if headerImg %}
												<div class="section-header-img">
													<div class="section-header-bg" style="background-image:url('{{TimberImage(headerImg.id).src}}')">
													</div>
												</div>
										{% endif %}

											<div class="container">
												<div class="col-2 justify">
													<h3>{{posts.title}}</h3>
													{{post.col_left}}
												</div>
												<div class="col-2 justify">
													{{post.col_right}}
												</div>
											</div>

									{% elseif post.acf_fc_layout == 'full_text' %}

										{% if headerImg %}
												<div class="section-header-img">
													<div class="section-header-bg" style="background-image:url('{{TimberImage(headerImg.id).src}}')">
													</div>
												</div>
										{% endif %}

											<div class="container">
													<h2 class="center">{{posts.title}}</h2>
												<div class="justify">
													{{post.full_col}}
												</div>
											</div>

									{% elseif post.acf_fc_layout == 'text_4_col' %}

										<div class="container">
												<h2>{{posts.title}}</h2>
												<p class="desc text-center">{{post.card_desc}}</p>
												<div class="col-3">
														<img src="{{TimberImage(post.card_1_img).get_src}}" />
														<p class="text-center">{{post.card_1_desc}}</p>
														{% if post.card_1_url %}
															<a target="blank" class="button" href="{{post.card_1_url}}">Learn More</a>
														{% endif %}
												</div>
												<div class="col-3">
													<img src="{{TimberImage(post.card_2_img).get_src}}" />
														<p class="text-center">{{post.card_2_desc}}</p>
														{% if post.card_2_url %}
															<a target="blank" class="button" href="{{post.card_2_url}}">Learn More</a>
														{% endif %}
												</div>
												<div class="col-3">
													<img src="{{TimberImage(post.card_3_img).get_src}}" />
														<p class="text-center">{{post.card_3_desc}}</p>
														{% if post.card_3_url %}
															<a target="blank" class="button" href="{{post.card_3_url}}">Learn More</a>
														{% endif %}
												</div>
										</div>

									{% elseif post.acf_fc_layout == 'grid' %}
										<h2>{{posts.title}}</h2>
											<div class="grid">
												{% for image in post.grid_img %}
															<article>
																	<figure>
																			<img src="{{TimberImage(image.id).get_src|resize(400,670, 'center')}}" />
																	</figure>
															</article>
												{% endfor %}
											</div>

									{% elseif post.acf_fc_layout == 'slider' %}
										<div class="loading" id="press">
												<h2>{{posts.title}}</h2>
												<div id="press-slider" class="flexslider">
														<!--    Controls slider       -->
															<nav>
															</nav>
														<ul class="slides">
																		{% for image in post.slider_img %}
																				<li class="press">
																								<img class="press-img" src="{{TimberImage(image.id).get_src|resize(300)}}" />
																				</li>
																		{% endfor %}
														</ul>
													</div>
												</div>

									{% elseif post.acf_fc_layout == 'social' %}
										<div class="social-feed">
											<h2>{{posts.title}}</h2>
											<div id="instafeed-{{post.sel_inst}}" class="feed"></div>
										</div>
										{% if post.sel_inst == 'one' %}
											<div class="follow-us transparent">
												<h2>FOLLOW US HERE</h2>
												<div class='socials'>
													{% if option.facebook %}
															<a href="{{option.facebook}}" target="_blank">
																<span class='st_facebook_large' displayText='Facebook'></span>
															</a>
														{% endif %}
														{% if option.twitter %}
															<a href="{{option.twitter}}" target="_blank">
																<span class='st_twitter_large' displayText='Tweet'></span>
																</a>
														{% endif %}
														{% if option.instagram %}
															<a href="{{option.instagram}}" target="_blank">
																<span class='st_instagram_large' displayText='instagram'></span>
															</a>
														{% endif %}
														{% if option.pinterest %}
															<a href="{{option.pinterest}}" target="_blank">
																<span class='st_pinterest_large' displayText='Pinterest'></span>
															</a>
														{% endif %}
														{% if option.tumblr %}
															<a href="{{option.tumblr}}" target="_blank">
																<span class='st_tumblr_large' displayText='Tumblr'></span>
																</a>
														{% endif %}
														{% if option.you_tube %}
															<a href="{{option.you_tube}}" target="_blank">
																<span class='st_youtube_large' displayText='YouTube'></span>
															</a>
														{% endif %}
													</div>
												</div>
											{% elseif post.sel_inst == 'two' %}
												<div class="follow-us transparent">
													<h2>FOLLOW US HERE</h2>
													<div class='socials'>
														{% if option.twitter_zzp %}
															<a href="{{option.twitter_zzp}}" target="_blank">
																<span class='st_twitter_large' displayText='Tweet'></span>
																</a>
														{% endif %}
														{% if option.instagram_zzp %}
															<a href="{{option.instagram_zzp}}" target="_blank">
																<span class='st_instagram_large' displayText='instagram'></span>
															</a>
														{% endif %}
													</div>
												</div>
											{% endif %}


									{% elseif post.acf_fc_layout == 'video' %}
											<div class="video">
												<div class="embed-container">
													{{ post.fc_video }}
												</div>
											</div>

									{% elseif post.acf_fc_layout == 'space' %}

										{% for space in post.spacer %}
											 <div class="spacer"></div>
										{% endfor %}

									{% endif %}
							{% endfor %}
						</section>

				{% endfor %}
			{% else %}
				<section id="collection"{% if post.get_field('sel_bg_color') %} class="{{ post.get_field('sel_bg_color') }}"{% endif %}>
									<div class="grid">
										{% for image in post.get_field('collection_img') %}
													<article>
															<figure {% if post.get_field('overlay_col') %} class="{{ post.get_field('overlay_col') }}"{% endif %}>
																<a class="fancybox" data-fancybox-group="gallery" rel="gallery" href="{{TimberImage(image.id).get_src}}">
																		<img src="{{TimberImage(image.id).get_src|resize(480)}}" />
																</a>
															</figure>
													</article>
											{% endfor %}
									</div>
				</section>
		{% endif %}

	</div><!-- page -->

{% endblock %}
