<div class="page-header">
  <h1>{{ 'customer.account.header' | t }}</h1>
</div>

<div class="account-wrapper">

  <div class="account-content">

    <div class="account-details">

      <h5 class="name">{{ customer.name }}</h5>

      <p><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>

      {% if customer.default_address != nil %}
        <div class="account-address">
          <span class="address">{{ customer.default_address.street }}</span>
          <span class="city">
            {{ customer.default_address.city }}{% if customer.default_address.province.size > 0 %}, {{ customer.default_address.province }}{% endif %}</span>
          <span class="country">{{ customer.default_address.country }}{% if customer.default_address.zip.size > 0 %}, {{ customer.default_address.zip }}{% endif %}</span>
        </div>
      {% endif %}

      <p><a class="view-addresses" href="/account/addresses">{{ 'customer.account.view_addresses' | t }}</a></p>

    </div>

    <div class="order-history">

      <h5>{{ 'customer.account.order_history' | t }}</h5>

      <table cellspacing="0">
        <thead>
          <tr>
            <th class="order">{{ 'customer.account.order' | t }}</th>
            <th>{{ 'customer.account.payment' | t }}</th>
            <th>{{ 'customer.account.fulfillment' | t }}</th>
            <th>{{ 'general.general.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% if customer.orders.size > 0 %}
            {% for order in customer.orders %}
            <tr class="{% if order.cancelled %}cancelled_order{% endif %}">
              <td class="order">{{ order.name | link_to: order.customer_url }} &mdash; {{ order.created_at | date: format: 'short_month' }}</td>
              <td class="authorization">{{ order.financial_status_label | capitalize }}</td>
              <td class="fulfillment">{{ order.fulfillment_status_label | capitalize }}</td>
              <td class="total"><span class="money">{{ order.total_price | money }}</span></td>
            </tr>
            {% endfor %}
          {% else %}
            <tr class="no-orders">
              <td colspan="4">{{ 'customer.account.no_orders' | t }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

    </div>

    <div class="mobile-logout">
      {{ 'customer.general.logout' | t | customer_logout_link }}
    </div>

  </div>

</div>