<div class="page-header">
  <h1>{{ 'customer.activate_account.header' | t }}</h1>
</div>

<div class="account-wrapper">

  <div class="account-content">

    {% form 'activate_customer_password' %}

      <p class="activate-instructions">
        {% if form.errors %}
          <span class="error">
            {% for field in form.errors %}
              {{ form.errors.messages[field] }}
            {% endfor %}
          </span> {{ 'customer.activate_account.try_again' | t }}
        {% else %}
          {{ 'customer.activate_account.enter_password' | t }}
        {% endif %}
      </p>

      <div class="input-wrapper password">
        <label>{{ 'general.general.password' | t }}</label>
        <input type="password" name="customer[password]" class="field">
      </div>

      <div class="input-wrapper password-confirmation">
        <label>{{ 'general.general.repeat_password' | t }}</label>
        <input type="password" name="customer[password_confirmation]" class="field">
      </div>

      <div class="input-wrapper">
        <input type="submit" value="{{ 'customer.activate_account.submit' | t }}">
        <a class="inline-cancel" href="/">{{ 'customer.general.cancel' | t }}</a>
      </div>

    {% endform %}

  </div>
</div>