<div class="page-header">
  <h1>{{ 'customer.addresses.header' | t }}</h1>
</div>

<div class="account-wrapper">

  <div class="account-content">

    {% if customer.addresses.size > 0 %}

      <div class="address-list">

        {% for address in customer.addresses %}
          <div class="account-address">

            <div id="view_address_{{address.id}}">
              <h5>{{ address.first_name }} {{ address.last_name }} {% if address == customer.default_address %} ({{ 'customer.addresses.default' | t }}){% endif %}</h5>
              <span>{{ address.company }}</span>
              <span>{{ address.street }}</span>
              <span>{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}</span>
              <span>{{ address.country }} {{ address.zip }}</span>
              <span>{{ address.phone }}</span>

              <p>{{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} or {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</p>
            </div>

            <div id="edit_address_{{address.id}}" style="display:none;">
              <div class="edit-add-address">
                {% form 'customer_address', address %}
                  <div class="input-wrapper">
                    <label>{{ 'general.general.first_name' | t }}</label>
                    <input type="text" name="address[first_name]" value="{{form.first_name}}">
                  </div>
                  <div class="input-wrapper">
                    <label>{{ 'general.general.last_name' | t }}</label>
                    <input type="text" name="address[last_name]" value="{{form.last_name}}">
                  </div>
                  <div class="input-wrapper">
                    <label>{{ 'customer.addresses.company' | t }}</label>
                    <input type="text" name="address[company]" value="{{form.company}}">
                  </div>
                  <div class="input-wrapper">
                    <label>{{ 'customer.addresses.address_1' | t }}</label>
                    <input type="text" name="address[address1]" value="{{form.address1}}">
                  </div>
                  <div class="input-wrapper">
                    <label>{{ 'customer.addresses.address_2' | t }}</label>
                    <input type="text" name="address[address2]" value="{{form.address2}}">
                  </div>
                  <div class="input-wrapper">
                    <label>{{ 'customer.addresses.city' | t }}</label>
                    <input type="text" name="address[city]" value="{{form.city}}">
                  </div>
                  <div class="input-wrapper">
                    <label>{{ 'customer.addresses.country' | t }}</label>

                    <div class="select-wrapper">
                      <div class="selected-option">{{ 'customer.addresses.select_country' | t }}</div>
                      <select id="address-country-{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                    </div>
                  </div>
                  <div class="input-wrapper" id="address-province-container-{{ address.id }}" style="display:none">
                    <label>{{ 'customer.addresses.province' | t }}</label>

                    <div class="select-wrapper">
                      <div class="selected-option">{{ 'customer.addresses.select_provice' | t }}</div>
                      <select id="address-province-{{ address.id }}" name="address[province]" data-default="{{form.province}}"></select>
                    </div>
                  </div>
                  <div class="input-wrapper">
                    <label>{{ 'customer.addresses.zip' | t }}</label>
                    <input type="text" name="address[zip]" value="{{form.zip}}">
                  </div>
                  <div class="input-wrapper">
                    <label>{{ 'customer.addresses.phone' | t }}</label>
                    <input type="text" name="address[phone]" value="{{form.phone}}">
                  </div>
                  <div class="inline-input-wrapper">
                    {{ form.set_as_default_checkbox }}
                    <label>{{ 'customer.addresses.set_default' | t }}</label>
                  </div>
                  <div class="input-wrapper">
                    <input type="submit" id="submit-{{form.id}}" value="{{ 'customer.addresses.submit' | t }}"><span><a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">{{ 'customer.general.cancel' | t }}</a></span>
                  </div>
                {% endform %}
              </div>
            </div>

          </div>
        {% endfor %}

      </div>

    {% else %}
      <div class="no-addresses rte">
        <p>{{ 'customer.addresses.no_addresses' | t }}</p>
      </div>
    {% endif %}

    <div class="add-new-address {% if customer.addresses.size == 0 %}active{% endif %}">

      <span class="new-address-toggle">{{ 'customer.addresses.add_new' | t }}</span>

        {% form 'customer_address', customer.new_address %}
          <div class="input-wrapper">
            <label>{{ 'general.general.first_name' | t }}</label>
            <input type="text" name="address[first_name]">
          </div>
          <div class="input-wrapper">
            <label>{{ 'general.general.last_name' | t }}</label>
            <input type="text" name="address[last_name]">
          </div>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.company' | t }}</label>
            <input type="text" name="address[company]">
          </div>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.address_1' | t }}</label>
            <input type="text" name="address[address1]">
          </div>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.address_2' | t }}</label>
            <input type="text" name="address[address2]">
          </div>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.city' | t }}</label>
            <input type="text" name="address[city]">
          </div>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.country' | t }}</label>
            <div class="select-wrapper">
              <div class="selected-option">{{ 'customer.addresses.select_country' | t }}</div>
              <select id="address-country" name="address[country]" data-default="{{form.country}}">
                <option disabled="disabled" selected="selected">Select a country</option>{{ country_option_tags }}</select>
            </div>
          </div>
          <div class="input-wrapper" id="address-province-container" style="display:none">
            <label>{{ 'customer.addresses.province' | t }}</label>
            <div class="select-wrapper">
              <div class="selected-option">{{ 'customer.addresses.select_provice' | t }}</div>
              <select id="address-province" name="address[province]" data-default="{{form.province}}"></select>
            </div>
          </div>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" name="address[zip]">
          </div>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.phone' | t }}</label>
            <input type="text" name="address[phone]">
          </div>
          <div class="inline-input-wrapper">
            {{ form.set_as_default_checkbox }}
            <label>{{ 'customer.addresses.set_default' | t }}</label>
          </div>
          <div class="input-wrapper">
            <input type="submit" value="{{ 'customer.addresses.submit' | t }}">
            {% if customer.addresses.size > 0 %}
              <span class="new-address-toggle cancel">{{ 'customer.general.cancel' | t }}</span>
            {% endif %}
          </div>
        {% endform %}

    </div><!-- close ADD NEW ADDRESS -->

  </div><!-- close ACCOUNT CONTENT -->

</div><!-- close ACCOUNT WRAPPER -->

<script type="text/javascript" charset="utf-8">

  // initialize observers on address selectors
    new Shopify.CountryProvinceSelector('address-country', 'address-province', {hideElement: 'address-province-container'});
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address-country-{{address.id}}', 'address-province-{{address.id}}', {hideElement: 'address-province-container-{{address.id}}'});
  {% endfor %}

</script>