<div class="page-header">
  <h1>{{ 'customer.register.header' | t }}</h1>
</div>

<div class="account-wrapper">

  <div class="account-content">

    {% form 'create_customer' %}

      {% if form.errors %}
      <div>        
        <p><span class="error">{{ 'customer.register.sorry' | t }}</span> {{ form.errors | default_errors | strip_html }}</p>
      </div>
      {% endif %}

      <div class="input-wrapper first-name">
        <label for="customer[first_name]">{{ 'general.general.first_name' | t }}</label>
        <input class="{% if form.errors contains "first_name" %}error{% endif %}" type="text" placeholder="" value="{{ form.first_name }}" name="customer[first_name]">
      </div>

      <div class="input-wrapper last-name">
        <label for="customer[last_name]">{{ 'general.general.last_name' | t }}</label>
        <input class="{% if form.errors contains "last_name" %}error{% endif %}" type="text" placeholder="" value="{{ form.last_name }}" name="customer[last_name]">
      </div>

      <div class="input-wrapper email">
        <label for="customer[email]">{{ 'general.general.email' | t }} {% if form.errors contains "email" %}<span class="error">{{ form.errors.messages.email }}</span>{% endif %}</label>
        <input class="{% if form.errors contains "email" %}error{% endif %}" type="email" placeholder="{{ 'general.general.email_placeholder' | t }}" value="{{ form.email }}" name="customer[email]">
      </div>

      <div class="input-wrapper password">
        <label for="customer[password]">{{ 'general.general.password' | t }} {% if form.errors contains "password" %}<span class="error">{{ form.errors.messages.password }}</span>{% endif %}</label>
        <input class="{% if form.errors contains "password" %}error{% endif %}" type="password" placeholder="" value="" name="customer[password]">
      </div>

      <div class="input-wrapper">
        <input type="submit" value="{{ 'customer.register.submit' | t }}">
      </div>

    {% endform %}

  </div>
</div>