<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% if template == 'index' %}
		<title>{{ shop.name }} | {{ page_title }}</title>
	{% elsif template == '404' %}
		<title>Page Not Found | {{ shop.name }}</title>
	{% else %}
		<title>{{ page_title }} | {{ shop.name }}</title>
	{% endif %}

	{% if page_description %}
		<meta name="description" content="{{ page_description }}" />
	{% endif %}

	<link rel="canonical" href="{{ canonical_url }}" />
	<meta name="viewport" content="width=device-width" />

	{{ content_for_header }}

	{% include 'social-meta' %}

	{{ 'styles.css' | asset_url | stylesheet_tag }}

	{{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}
	{{ 'jquery.js' | asset_url | script_tag }}

	{% if template contains 'customers' %}
		{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
		{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
	{% endif %}

	{% include 'theme-options' %}

</head>

<body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="wrap">

		{% include 'header' %}

		{% if settings.show-slideshow and template == 'index' %}
			{% include 'slideshow' %}
		{% endif %}

		<div class="main-content{% if template != 'collection' %} container{% endif %}">

			{% if template != 'index' %}
				{% include 'breadcrumbs' %}
			{% endif %}

			{% if template == 'list-collections' %}
				{% include 'collection-listing' %}
			{% else %}
				{{ content_for_layout }}
			{% endif %}
		</div>

	</div><!-- .wrap -->

	{% include 'footer' %}

	{% if template contains 'cart' or template contains 'product' %}
		{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
	{% endif %}

	{{ 'option_selection.js' | shopify_asset_url | script_tag }}

	{% if settings.currency-switcher %}
		{{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
		{{ "jquery.currencies.js" | asset_url | script_tag }}
	{% endif %}

	{{ 'plugins.js'  | asset_url | script_tag }}
	{{ 'site.js'  | asset_url | script_tag }}

</body>
</html>
