<div class="page-header">
	<h1>{{ 'general.404.header' | t }}</h1>
</div>

<div class="page-not-found-message">
	{{ 'general.404.message' | t }} <a href="/collections/all">{{ 'general.404.continue' | t }}</a>
</div>

{% capture theme_settings_link %}
	<a href="{{ shop.url }}/admin/themes">{{ 'onboarding.general.theme_settings_link' | t }}</a>
{% endcapture %}

{% capture collection_screen_link %}
	<a href="{{ shop.url }}/admin/collections">{{ 'onboarding.general.collection_screen_link' | t }}</a>
{% endcapture %}

{% capture new_product_link %}
	<a href="{{ shop.url }}/admin/products/new">{{ 'onboarding.general.new_product_link' | t }}</a>
{% endcapture %}

{% if settings.404-display-collections %}

	{% assign collectionCount = 0 %}

	{% if settings.featured-collection-1.size > 0 %}
		{% assign collectionCount =  collectionCount | plus: 1 %}
	{% endif %}
	{% if settings.featured-collection-2.size > 0 %}
		{% assign collectionCount =  collectionCount | plus: 1 %}
	{% endif %}
	{% if settings.featured-collection-3.size > 0 %}
		{% assign collectionCount =  collectionCount | plus: 1 %}
	{% endif %}
	{% if settings.featured-collection-4.size > 0 %}
		{% assign collectionCount =  collectionCount | plus: 1 %}
	{% endif %}

	<div class="featured-collections collection-list grid-wrap grid-of-{{collectionCount}}">

		{% if settings.featured-collections-title.size > 0 %}
			<h4 class="section-title">{{ settings.featured-collections-title }}</h4>
		{% endif %}

		{% if settings.featured-collection-1.size > 0 or settings.featured-collection-2.size > 0 or settings.featured-collection-3.size > 0 or settings.featured-collection-4.size > 0 %}

			<div class="items-wrap">

				{% if settings.featured-collection-1.size > 0 %}

					{% if collections[settings.featured-collection-1].image %}
						{% assign featured-image-1 = collections[settings.featured-collection-1].image.src | collection_img_url: 'grande' %}
					{% else %}
						{% assign featured-image-1 = collections[settings.featured-collection-1].products.first.featured_image | product_img_url: 'grande' %}
					{% endif %}

					<article class="collection-list-item {{ settings.collections-list-position }}">
						<a href="{{ collections[settings.featured-collection-1].url }}">
							<img alt="" src="{{ featured-image-1 }}">
							<h2>{{ collections[settings.featured-collection-1].title }}</h2>
						</a>
						{% if settings.display-collection-descriptions and collections[settings.featured-collection-1].description.size > 0 %}
							<div class="rte">{{ collections[settings.featured-collection-1].description }}</div>
						{% endif %}
					</article>
				{% endif %}

				{% if settings.featured-collection-2.size > 0 %}

					{% if collections[settings.featured-collection-2].image %}
						{% assign featured-image-2 = collections[settings.featured-collection-2].image.src | collection_img_url: 'grande' %}
					{% else %}
						{% assign featured-image-2 = collections[settings.featured-collection-2].products.first.featured_image | product_img_url: 'grande' %}
					{% endif %}

					<article class="collection-list-item {{ settings.collections-list-position }}">
						<a href="{{ collections[settings.featured-collection-2].url }}">
							<img alt="" src="{{ featured-image-2 }}">
							<h2>{{ collections[settings.featured-collection-2].title }}</h2>
						</a>
						{% if settings.display-collection-descriptions and collections[settings.featured-collection-2].description.size > 0 %}
							<div class="rte">{{ collections[settings.featured-collection-2].description }}</div>
						{% endif %}
					</article>
				{% endif %}

				{% if settings.featured-collection-3.size > 0 %}

					{% if collections[settings.featured-collection-3].image %}
						{% assign featured-image-3 = collections[settings.featured-collection-3].image.src | collection_img_url: 'grande' %}
					{% else %}
						{% assign featured-image-3 = collections[settings.featured-collection-3].products.first.featured_image | product_img_url: 'grande' %}
					{% endif %}

					<article class="collection-list-item {{ settings.collections-list-position }}">
						<a href="{{ collections[settings.featured-collection-3].url }}">
							<img alt="" src="{{ featured-image-3 }}">
							<h2>{{ collections[settings.featured-collection-3].title }}</h2>
						</a>
						{% if settings.display-collection-descriptions and collections[settings.featured-collection-3].description.size > 0 %}
							<div class="rte">{{ collections[settings.featured-collection-3].description }}</div>
						{% endif %}
					</article>
				{% endif %}

				{% if settings.featured-collection-4.size > 0 %}

					{% if collections[settings.featured-collection-4].image %}
						{% assign featured-image-4 = collections[settings.featured-collection-4].image.src | collection_img_url: 'grande' %}
					{% else %}
						{% assign featured-image-4 = collections[settings.featured-collection-4].products.first.featured_image | product_img_url: 'grande' %}
					{% endif %}

					<article class="collection-list-item {{ settings.collections-list-position }}">
						<a href="{{ collections[settings.featured-collection-4].url }}">
							<img alt="" src="{{ featured-image-4 }}">
							<h2>{{ collections[settings.featured-collection-4].title }}</h2>
						</a>
						{% if settings.display-collection-descriptions and collections[settings.featured-collection-4].description.size > 0 %}
							<div class="rte">{{ collections[settings.featured-collection-4].description }}</div>
						{% endif %}
					</article>

				{% endif %}
			</div>

		{% else %}

			<div class="load-up">{{ 'onboarding.general.featured_collections_text_html' | t: theme_settings_link: theme_settings_link }}</div>

		{% endif %}
	</div>

{% endif %}
