<div class="page-header">
  <h1>{{ 'cart.general.header' | t }}</h1>
</div>

<div class="cart content" role="main">

{% if cart.item_count > 0 %}

  <form action="/cart" method="post" class="clearfix">

    <table class="cart-products">
      <thead>
        <tr>
          <th class="item">{{ 'general.general.item' | t }}</th>
          <th class="price">{{ 'general.general.price' | t }}</th>
          <th class="quantity">{{ 'general.general.quantity' | t }}</th>
          <th class="total">{{ 'general.general.total' | t }}</th>
        </tr>
      </thead>

      <tbody>
        {% for item in cart.items %}
          <tr class="{% include 'for-looper' %} variant-{{ item.variant.id }}">
            <td class="product-item">
              <div class="product-wrap">
                <a class="remove" href="/cart/change/{{ item.variant.id }}?line={{ forloop.index }}&quantity=0" data-variant-id="{{ item.variant.id }}">{{ 'cart.general.remove_from_cart' | t }}</a>
                <a class="cart-thumbnail" href="{{ item.url }}">
                  {% if item.product.images.size > 0 %}
                    {{ item | img_url: 'small' | img_tag }}
                  {% else %}
                    <img class="product-no-images" src="{{ 'no-image.svg' | asset_url }}" alt="{{ 'products.product.no_image' | t }}" />
                  {% endif %}
                </a>
                <div class="cart-details">
                  <span class="vendor">{{ item.vendor | link_to_vendor }}</span>
                  <span class="title">{{ item.product.title | link_to: item.url }}</span>

                  {% unless item.variant.title == 'Default Title' %}
                    <span class="variant">{{ item.variant.title }}</span>
                  {% endunless %}

                  {% if item.properties %}
                    <div class="properties">
                      {% for property in item.properties %}
                        {% unless property.last == blank %}
                          <div class="property">
                            <span class="property-label">{{ property.first }}:</span>
                            {% if property.last contains '/uploads/' %}
                              <a class="property-image" href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                            {% else %}
                              <span class="property-value">{{ property.last }}</span>
                            {% endif %}
                          </div>
                        {% endunless %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </td>
            <td class="price"><span class="money">{{ item.price | money }}</span></td>
            <td class="quantity"><input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-id="{{ item.variant.id }}"></td>
            <td class="total"><span class="money">{{ item.quantity | times: item.price | money }}</span></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

    <div class="cart-tools">

      <div class="instructions">
        <p>{{ 'cart.general.special_instructions' | t }}</p>
        <textarea placeholder="{{ 'cart.general.notes_placeholder' | t }}" name="note">{{ cart.note }}</textarea>
      </div>

      {% if settings.show-shipping-calculator and cart.requires_shipping %}
        {% include 'shipping-calculator' %}
      {% endif %}
    </div>

    <div class="cart-totals">
      <p>{{ 'cart.general.your_total' | t }}</p>
      <p class="price"><span class="money">{{ cart.total_price | money }}</span></p>
      <p class="message">{{ 'cart.general.tax_and_shipping' | t }}</p>
      <input class="secondary" type="submit" name="update" value="{{ 'cart.general.update' | t }}" />
      <input type="submit" name="checkout" value="{{ 'cart.general.submit' | t }}" />
      {% if settings.continue-shopping %}
        <a class="button secondary" href="{{ settings.continue-shopping-url }}">{{ 'cart.general.continue' | t }}</a>
      {% endif %}
    </div>

  </form>

{% else %}
  
  <div class="empty">
    <p>{{ 'cart.general.empty' | t }}</p>
    <a class="button" href="/collections/all">{{ 'cart.general.continue' | t }}</a>
  </div>

{% endif %}
</div>