<div class="page-header">
  <h1>
    {% if search.performed %}
      {{ 'general.search.results_header' | t }}
    {% else %}
      {{ 'general.search.header' | t }}
    {% endif %}
  </h1>
</div>

{% paginate search.results by 10 %}
  <div class="search-results-wrapper">

    {% if search.performed %}
      <div class="search-results-count">
        {% capture results %}
          {{ 'general.search.results' | t: count: search.results_count }}
        {% endcapture %}
        <p>{{ 'general.search.results_prompt' | t: count: search.results_count, query: search.terms, results: results }}</p>
      </div>

      <div class="search-results">
        {% for item in search.results %}
          <div class="search-result-item {% include 'for-looper' %}">

            {% if item.object_type != 'product' %}
              <h3>{{ item.title | link_to: item.url }}</h3>

              {% if item.object_type == 'article' %}
                <aside class="search-result-meta">
                  <a href="{{ item.url }}">{{ item.published_at | date: format: 'short_month' }}</a>
                </aside>

                {% if item.image %}
                  <div class="search-result-article-image">
                    <a href="{{ item.url }}">
                      <img src="{{ item.image | img_url: '1024x1024' }}" alt="{{ item.title }}">
                    </a>
                  </div>
                {% endif %}
              {% endif %}

              <div class="rte">
                {% if settings.blog-use-excerpts and item.excerpt.size > 0 %}
                  {{ item.excerpt }}
                {% else %}
                  <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                  <p><a href="{{ item.url }}">{{ 'general.search.continue' | t }}</a></p>
                {% endif %}
              </div>
            {% endif %}

            {% if item.object_type == 'product' %}
              <div class="search-result-image"><a href="{{ item.url }}">{{ item.featured_image | product_img_url: '1024x1024' | img_tag }}</a></div>

              <div class="search-result-product-info">
                <ul>
                  <li class="result-vendor">{{ item.vendor }}</li>
                  <li class="result-product-name"><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
                  {% if item.compare_at_price_min > item.price_min %}
                    <li class="result-price on-sale"><span class="original money">{{ item.compare_at_price_min | money }}</span> <span class="money">{{ item.price_min | money }}</span></li>
                  {% else %}
                    <li class="result-price"><span class="money">{{ item.price_min | money }}</span></li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}

          </div>
        {% endfor %}
      </div>

      {% if paginate.previous or paginate.next %}
        {% include 'pagination' %}
      {% endif %}
    {% endif %}

    {% if search.results.size < 1 %}
      <form class="big-search-form" action="/search" method="get">
        <input class="search-input" name="q" type="text" placeholder="{{ 'general.search.search_placeholder' | t }}" value="" />
        <input type="submit" value="{{ 'general.search.submit' | t }}" />
      </form>
    {% endif %}
  </div>
{% endpaginate %}