<div class="page-header">
  <h1>{{ 'customer.reset_password.header' | t }}</h1>
</div>

<div class="account-wrapper">

  <div class="account-content reset-password">
    <p>{{ 'customer.reset_password.prompt' | t: user_email: email }}</p>

    {% form 'reset_customer_password' %}

      {{ form.errors | default_errors }}

      <div class="input-wrapper">
        <label class="accent-text">{{ 'general.general.password' | t }}</label>
        <input type="password" value="" name="customer[password]" class="styled-text-field">
      </div>

      <div class="input-wrapper">
        <label for="customer-password" class="accent-text">{{ 'general.general.repeat_password' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" class="styled-text-field">
      </div>

      <div class="input-wrapper">
        <input type="submit" value="{{ 'customer.reset_password.submit' | t }}">
      </div>

    {% endform %}
  </div>

</div>