<nav class="pagination">

  {% assign newer = '&#57361;' %}
  {% assign previousClass = 'previous' %}
  {% if template == 'blog' %}
    {% capture newer %}
      {{ 'general.pagination.previous' | t }}
    {% endcapture %}
    {% assign previousClass = 'previous no-icon' %}
  {% endif %}

  {% if paginate.previous %}
    <a class="{{ previousClass }}" href="{{ paginate.previous.url }}">{{ newer }}</a>
  {% else %}
    <span class="{{ previousClass }} disabled">{{ newer }}</span>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      {{ part.title | link_to: part.url}}
    {% else %}
      <span class="current">{{ part.title }}</span>
    {% endif %}
  {% endfor %}

  {% assign older = '&#57360;' %}
  {% assign nextClass = 'next' %}
  {% if template == 'blog' %}
    {% capture older %}
      {{ 'general.pagination.next' | t }}
    {% endcapture %}
    {% assign nextClass = 'next no-icon' %}
  {% endif %}

  {% if paginate.next %}
    <a class="{{ nextClass }}" href="{{ paginate.next.url }}">{{ older }}</a>
  {% else %}
    <span class="{{ nextClass }} disabled">{{ older }}</span>
  {% endif %}

</nav>